<?xml version="1.0" encoding="UTF-8"?>
<plugin id="nl.kw.cordova.androidviewport" version="0.0.5" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" >
    <name>androidviewport</name>
    <description>cordova plugin to honor viewport meta tag in android</description>
    <author>commonpike</author>
    <license>MIT</license>
    <keywords>cordova,viewport</keywords>
    <repo>https://github.com/commonpike/androidviewport</repo>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidViewport">
                <param name="android-package" value="nl.kw.cordova.androidviewport.AndroidViewport" />
            </feature>
        </config-file>
        <source-file src="src/android/AndroidViewport.java" target-dir="src/nl/kw/cordova/androidviewport" />
    </platform>
   
</plugin>
